Repository kgu-clab/clab-platforms, pull requests merged in 2024-08, with the labels that each got.

#192 Member 활동 api 연동 및 컴포넌트 추가
  apps/member/.env.example
  apps/member/src/api/activity.ts
  apps/member/src/components/common/ActionButton/ActionButton.tsx
  apps/member/src/components/group/AssignmentUploadSection/AssignmentUploadSection.tsx
  apps/member/src/components/group/GroupCard/GroupCard.tsx
  apps/member/src/components/group/GroupCreateSection/GroupCreateSection.tsx
  apps/member/src/components/manage/ManageActivitySection/ManageActivitySection.tsx
  apps/member/src/components/modal/ActivityInfoModal/ActivityInfoModal.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/environment.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/path.ts
  apps/member/src/hooks/queries/activity/useActivityGroupDeleteMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupStatusMutation.ts
  apps/member/src/pages/GroupApplyPage/GroupApplyPage.tsx
  apps/member/src/pages/GroupAssignmentPage/GroupAssignmentPage.tsx
  apps/member/src/pages/GroupCreatePage/GroupCreatePage.tsx
  apps/member/src/pages/GroupDetailPage/GroupDetailPage.tsx
  apps/member/src/pages/GroupPage/GroupPage.tsx
  apps/member/src/pages/ManagePage/ManagePage.tsx
  apps/member/src/router/AppRouter.tsx
  apps/member/src/types/activity.ts
Labels: ✨ Feature, 🔨 Refactor, 🏠 Member

#194 docs: update README.md
  README.md
Labels: 🗂️ Documentation

#196 캘린더 일정 타입 관련 에러 수정
  apps/member/src/components/calendar/CalendarSchedule/CalendarSchedule.tsx
  apps/member/src/components/calendar/CalendarStatusSection/CalendarStatusSection.tsx
  apps/member/src/components/calendar/CalendarTableSection/CalendarTableSection.tsx
  apps/member/src/components/main/MainNoticeSection/MainNoticeSection.tsx
  apps/member/src/components/manage/ManageCalendarSection/ManageCalendarSection.tsx
  apps/member/src/types/schedule.ts
  apps/member/src/utils/date.ts
Labels: 🐞 Bug, 🏠 Member

#198 docs: update README.md, CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  apps/member/README.md
  packages/design-system/README.md
Labels: 🗂️ Documentation

#199 타임서비스 이름 변경 및 타임테이블 모달 내부 요소 추가
  apps/time/src/shared/ui/Modal.tsx
  apps/time/src/widgets/time-table/model/constants/grade.ts
  apps/time/src/widgets/time-table/model/constants/index.ts
  apps/time/src/widgets/time-table/model/constants/lecture.ts
  apps/time/src/widgets/time-table/model/constants/period.ts
  apps/time/src/widgets/time-table/model/constants/region.ts
  apps/time/src/widgets/time-table/types/grade.ts
  apps/time/src/widgets/time-table/types/index.ts
  apps/time/src/widgets/time-table/types/lecture.ts
  apps/time/src/widgets/time-table/types/period.ts
  apps/time/src/widgets/time-table/types/region.ts
  apps/time/src/widgets/time-table/ui/TimeTableModal.tsx
Labels: ✨ Feature, ⏰ KGU-Plus

#211 feat(time): 타임테이블 모달 api 연동
  .changeset/grumpy-beers-travel.md
  apps/time/package.json
  apps/time/src/app/layout.tsx
  apps/time/src/shared/hooks/index.ts
  apps/time/src/shared/hooks/useDebounce.ts
  apps/time/src/shared/utils/Providers.tsx
  apps/time/src/shared/utils/getAPIURL.ts
  apps/time/src/shared/utils/index.ts
  apps/time/src/widgets/menu/ui/Nav.tsx
  apps/time/src/widgets/time-table/api/endpoint.ts
  apps/time/src/widgets/time-table/api/getLectureList.ts
  apps/time/src/widgets/time-table/api/getMajorList.ts
  apps/time/src/widgets/time-table/api/index.ts
  apps/time/src/widgets/time-table/index.ts
  apps/time/src/widgets/time-table/model/constants/period.ts
  apps/time/src/widgets/time-table/model/constants/region.ts
  apps/time/src/widgets/time-table/model/hooks/index.ts
  apps/time/src/widgets/time-table/model/hooks/timeTableQueryKeys.ts
  apps/time/src/widgets/time-table/model/hooks/useLectureList.ts
  apps/time/src/widgets/time-table/model/hooks/useMajorList.ts
  apps/time/src/widgets/time-table/types/day-status.ts
  apps/time/src/widgets/time-table/types/index.ts
  apps/time/src/widgets/time-table/types/region.ts
  apps/time/src/widgets/time-table/ui/TimeTableLectureTable.tsx
  apps/time/src/widgets/time-table/ui/TimeTableModal.tsx
  apps/time/src/widgets/time-table/ui/index.ts
  pnpm-lock.yaml
Labels: ✨ Feature, ⏰ Time

#212 feat(member): 지원자 관리 페이지 생성
  .changeset/light-bananas-heal.md
  apps/member/src/api/application.ts
  apps/member/src/api/recruitment.ts
  apps/member/src/components/application/ApplicationListSection/ApplicationListSection.tsx
  apps/member/src/components/common/Nav/Nav.tsx
  apps/member/src/components/common/Sidebar/Sidebar.tsx
  apps/member/src/components/common/Toast/ToastContainer.tsx
  apps/member/src/components/modal/ApplicationInfoModal/ApplicationInfoModal.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/key.ts
  apps/member/src/constants/path.ts
  apps/member/src/hooks/queries/application/index.ts
  apps/member/src/hooks/queries/application/useApplicationAllMemberMutation.ts
  apps/member/src/hooks/queries/application/useApplicationConditions.ts
  apps/member/src/hooks/queries/application/useApplicationMemberMutation.ts
  apps/member/src/hooks/queries/application/useApplicationNonePassMutation.ts
  apps/member/src/hooks/queries/application/useApplicationPassMutation.ts
  apps/member/src/hooks/queries/recruitment/useRecruitment.ts
  apps/member/src/pages/ApplicationPage/ApplicationPage.tsx
  apps/member/src/router/AppRouter.tsx
  apps/member/src/types/application.ts
  apps/member/src/types/recruitment.ts
Labels: ✨ Feature, 🏠 Member

#215 feat(time): TimeTable Modal 추가기능
  .changeset/six-spies-deny.md
  apps/time/public/font/PretendardVariable.woff2
  apps/time/src/app/font.css
  apps/time/src/app/layout.tsx
  apps/time/src/shared/hooks/index.ts
  apps/time/src/shared/hooks/useInfiniteScroll.ts
  apps/time/src/shared/utils/getAPIURL.ts
  apps/time/src/widgets/time-table/api/getLectureList.ts
  apps/time/src/widgets/time-table/model/hooks/useLectureList.ts
  apps/time/src/widgets/time-table/ui/TimeTableLectureTable.tsx
  apps/time/src/widgets/time-table/ui/TimeTableModal.tsx
  apps/time/tailwind.config.ts
Labels: ✨ Feature, ⏰ Time

#219 feat(member): 멤버 권한 관리 기능 추가
  .changeset/chilly-eagles-behave.md
  apps/member/src/api/member.ts
  apps/member/src/components/common/Avatar/Avatar.tsx
  apps/member/src/components/common/Nav/Nav.tsx
  apps/member/src/components/common/Post/Post.tsx
  apps/member/src/components/common/Sidebar/Sidebar.tsx
  apps/member/src/components/community/CommunityPostsSection/CommunityPostsSection.tsx
  apps/member/src/components/library/LibraryBooksSection/LibraryBooksSection.tsx
  apps/member/src/components/manage/ManageActivitySection/ManageActivitySection.tsx
  apps/member/src/components/manage/ManageAlertSection/ManagerAlertSection.tsx
  apps/member/src/components/manage/ManageCalendarSection/ManageCalendarSection.tsx
  apps/member/src/components/manage/ManageLevelSection/ManageLevelSection.tsx
  apps/member/src/components/manage/ManageLibrarySection/ManageLibrarySection.tsx
  apps/member/src/components/support/SupportHistorySection/SupportHistorySection.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/key.ts
  apps/member/src/constants/state.ts
  apps/member/src/hooks/common/usePagination.ts
  apps/member/src/hooks/queries/member/index.ts
  apps/member/src/hooks/queries/member/useMemberRole.ts
  apps/member/src/hooks/queries/member/useMemberRoleMutation.ts
  apps/member/src/pages/ApplicationPage/ApplicationPage.tsx
  apps/member/src/pages/ManagePage/ManagePage.tsx
  apps/member/src/types/comment.ts
  apps/member/src/types/community.ts
  apps/member/src/types/member.ts
  apps/member/src/utils/member.ts
  apps/member/src/utils/string.ts
Labels: ✨ Feature, 🏠 Member

#221 refactor(member): 활동 QA 피드백 반영 수정
  .changeset/silver-dodos-search.md
  apps/member/src/api/activity.ts
  apps/member/src/api/uploadedFile.ts
  apps/member/src/components/common/File/File.tsx
  apps/member/src/components/common/Modal/Modal.tsx
  apps/member/src/components/common/Textarea/Textarea.tsx
  apps/member/src/components/group/ActivityAssignmentEditor/ActivityAssignmentEditor.tsx
  apps/member/src/components/group/ActivityBoardEditModal/ActivityBoardEditModal.tsx
  apps/member/src/components/group/ActivityConfigTableSection/ActivityConfigTableSection.tsx
  apps/member/src/components/group/ActivityNoticeEditor/ActivityNoticeEditor.tsx
  apps/member/src/components/group/ActivityNoticeSection/ActivityNoticeSection.tsx
  apps/member/src/components/group/ActivityParticipantEditor/ActivityParticipantEditor.tsx
  apps/member/src/components/group/ActivityPostEditor/ActivityPostEditor.tsx
  apps/member/src/components/group/ActivityProfileEditor/ActivityProfileEditor.tsx
  apps/member/src/components/group/AssignmentFeedbackModal/AssignmentFeedbackModal.tsx
  apps/member/src/components/group/AssignmentListSection/AssignmentListSection.tsx
  apps/member/src/components/group/AssignmentUploadSection/AssignmentUploadSection.tsx
  apps/member/src/components/group/GroupCard/GroupCard.tsx
  apps/member/src/components/group/GroupCreateSection/GroupCreateSection.tsx
  apps/member/src/components/group/WeeklyActivityCard/WeeklyActivityCard.tsx
  apps/member/src/components/manage/ManageActivitySection/ManageActivitySection.tsx
  apps/member/src/components/my/MyActivityGroupSection/MyActivityGroupSection.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/key.ts
  apps/member/src/constants/message.ts
  apps/member/src/constants/state.ts
  apps/member/src/hooks/queries/activity/index.ts
  apps/member/src/hooks/queries/activity/useActivityGroupAdminMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupBoardMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMember.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMemberApplied.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMemberMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMemberRoleMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMutation.ts
  apps/member/src/hooks/queries/activity/useMyActivityGroupMember.ts
  apps/member/src/pages/GroupApplyPage/GroupApplyPage.tsx
  apps/member/src/pages/GroupAssignmentPage/GroupAssignmentPage.tsx
  apps/member/src/pages/GroupConfigPage/GroupConfigPage.tsx
  apps/member/src/pages/GroupCreatePage/GroupCreatePage.tsx
  apps/member/src/pages/GroupDetailPage/GroupDetailPage.tsx
  apps/member/src/pages/GroupPage/GroupPage.tsx
  apps/member/src/types/activity.ts
  apps/member/src/utils/date.ts
  apps/member/src/utils/string.ts
Labels: 🐞 Bug, 🔨 Refactor, 🏠 Member
