Repository kgu-clab/clab-platforms, pull requests merged in 2024-07, with the labels that each got.

#177 docs(root, member): update README.md
  README.md
  apps/member/README.md
Labels: 🗂️ Documentation, 🏠 Member

#178 docs: update READM.me for root, member, design-system
  README.md
  apps/member/README.md
  packages/design-system/README.md
Labels: 🗂️ Documentation, 🏠 Member, 🧩 DesignSystem

#180 업데이트된 api 엔드포인트 반영
  apps/member/src/constants/api.ts
Labels: ✨ Feature, 🏠 Member

#182 chore(root): init turborepo (#158)
  apps/auth/package.json
  apps/land/package.json
  apps/member/package.json
  apps/member/src/components/common/Modal/Modal.tsx
  apps/member/src/components/common/Panel/Panel.tsx
  apps/member/src/components/common/Post/Post.tsx
  apps/member/src/components/common/Section/Section.tsx
  apps/status/package.json
  apps/status/src/widgets/introduce/ui/IntroduceLottie.tsx
  apps/status/src/widgets/service-status/ui/CurrentServices.tsx
  apps/time/package.json
  package.json
  packages/config/package.json
  packages/design-system/package.json
  packages/hooks/.gitkeep
  packages/icon/package.json
  packages/utils/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: ⚙ Environment

#185 디자인시스템 테스트 커버리지 개선
  packages/design-system/package.json
  packages/design-system/src/Badge/Badge.test.tsx
  packages/design-system/src/Button/Button.test.tsx
  packages/design-system/src/Checkbox/Checkbox.test.tsx
  packages/design-system/src/DetailsList/DetailsList.test.tsx
  packages/design-system/src/Grid/Grid.test.tsx
  packages/design-system/src/Input/Input.test.tsx
  packages/design-system/src/Input/Input.tsx
  packages/design-system/src/Menubar/Menubar.test.tsx
  packages/design-system/src/OTPInput/OTPInput.test.tsx
  packages/design-system/src/Spinner/Spinner.test.tsx
  packages/design-system/src/Table/Table.test.tsx
  packages/design-system/src/Tabs/Tabs.test.tsx
  packages/design-system/vitest.config.mjs
  packages/utils/package.json
  pnpm-lock.yaml
Labels: ✨ Feature, 🧩 DesignSystem

#188 icon,ds 패키지의 생성 / 빌드 커맨드 개선
  .gitignore
  package.json
  packages/design-system/build.bash
  packages/design-system/package.json
  packages/icon/package.json
  packages/icon/renew.bash
  packages/icon/src/solid/svg/facebook.svg
  packages/icon/src/solid/svg/link.svg
  packages/icon/src/solid/svg/mail.svg
  packages/icon/src/solid/svg/x-twitter.svg
  packages/icon/svgo.color.mjs
  packages/icon/svgo.solid.mjs
Labels: ✨ Feature, 🔨 Refactor, 🧩 DesignSystem, 🎨 Icon

#190 icon, ds패키지 빌드 개선과정 중 ci 에러 수정
  packages/icon/renew.bash
  pnpm-lock.yaml
Labels: 🐞 Bug, 🎨 Icon
