Repository kgu-clab/clab-platforms, pull requests merged in 2024-09, with the labels that each got.

#226 refactor(member): 모달 스크롤 정상화
  .changeset/silver-dodos-float.md
  apps/member/src/components/common/Modal/ModalContainer.tsx
  apps/member/src/components/modal/ApplicationInfoModal/ApplicationInfoModal.tsx
Labels: 🐞 Bug, 🔨 Refactor, 🏠 Member

#231 refactor(member): 활동 2차 QA 피드백 반영 수정
  .changeset/happy-clocks-shave.md
  apps/member/src/api/activity.ts
  apps/member/src/components/common/File/File.tsx
  apps/member/src/components/common/Notice/Notice.tsx
  apps/member/src/components/group/ActivityAssignmentEditor/ActivityAssignmentEditor.tsx
  apps/member/src/components/group/ActivityBoardEditModal/ActivityBoardEditModal.tsx
  apps/member/src/components/group/ActivityDetailSection/ActivityDetailSection.tsx
  apps/member/src/components/group/ActivityNoticeEditor/ActivityNoticeEditor.tsx
  apps/member/src/components/group/ActivityNoticeSection/ActivityNoticeSection.tsx
  apps/member/src/components/group/ActivityPostEditor/ActivityPostEditor.tsx
  apps/member/src/components/group/AssignmentFeedbackModal/AssignmentFeedbackModal.tsx
  apps/member/src/components/group/AssignmentListSection/AssignmentListSection.tsx
  apps/member/src/components/group/AssignmentUploadSection/AssignmentUploadSection.tsx
  apps/member/src/components/group/GroupCard/GroupCard.tsx
  apps/member/src/components/group/GroupCreateSection/GroupCreateSection.tsx
  apps/member/src/components/group/WeeklyActivityCard/WeeklyActivityCard.tsx
  apps/member/src/components/modal/ActivityInfoModal/ActivityInfoModal.tsx
  apps/member/src/constants/state.ts
  apps/member/src/hooks/queries/activity/useActivityGroupBoardMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupDeleteMutation.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMemberMutation.ts
  apps/member/src/pages/GroupApplyPage/GroupApplyPage.tsx
  apps/member/src/pages/GroupAssignmentPage/GroupAssignmentPage.tsx
  apps/member/src/pages/GroupPage/GroupPage.tsx
  apps/member/src/types/activity.ts
  apps/member/src/utils/api.ts
  apps/member/src/utils/date.ts
  apps/member/src/utils/string.ts
Labels: 🐞 Bug, 🔨 Refactor, 🏠 Member

#232 feat(member, time): 관리자 페이지 계정 추가 기능
  .changeset/tender-tables-compete.md
  apps/member/package.json
  apps/member/src/api/member.ts
  apps/member/src/components/manage/ManageLevelSection/AddMemberForm.tsx
  apps/member/src/components/manage/ManageLevelSection/ManageLevelSection.tsx
  apps/member/src/components/manage/ManageLevelSection/RoleEditView.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/select.ts
  apps/member/src/hooks/queries/member/useMemberAddMutation.ts
  apps/member/src/types/manage.ts
  apps/time/src/shared/hooks/useEditableSearchParams.ts
  apps/time/src/shared/ui/Modal.tsx
  apps/time/src/widgets/time-table/ui/TimeTableLectureTable.tsx
  apps/time/src/widgets/time-table/ui/TimeTableModal.tsx
  pnpm-lock.yaml
Labels: ✨ Feature, 🏠 Member

#233 refactor(member): 활동 2차 QA 피드백 반영
  .changeset/hungry-sloths-press.md
  apps/auth/src/utils/service.ts
  apps/member/src/api/activity.ts
  apps/member/src/api/uploadedFile.ts
  apps/member/src/components/application/ApplicationListSection/ApplicationInfoModal.tsx
  apps/member/src/components/application/ApplicationListSection/ApplicationListSection.tsx
  apps/member/src/components/common/File/File.tsx
  apps/member/src/components/common/TextCounting/TextCounting.tsx
  apps/member/src/components/group/ActivityConfigTableSection/ActivityConfigTableSection.tsx
  apps/member/src/components/group/ActivityNoticeEditor/ActivityNoticeEditor.tsx
  apps/member/src/components/group/ActivityNoticeSection/ActivityNoticeModal.tsx
  apps/member/src/components/group/ActivityNoticeSection/ActivityNoticeSection.tsx
  apps/member/src/components/group/ActivityParticipantEditor/ActivityParticipantEditor.tsx
  apps/member/src/components/group/ActivityPostEditor/ActivityPostEditor.tsx
  apps/member/src/components/group/ActivityProfileEditor/ActivityProfileEditor.tsx
  apps/member/src/components/group/AssignmentListSection/AssignmentFeedbackModal.tsx
  apps/member/src/components/group/AssignmentListSection/AssignmentListSection.tsx
  apps/member/src/components/group/GroupCard/GroupCard.tsx
  apps/member/src/components/group/GroupCreateSection/GroupCreateSection.tsx
  apps/member/src/components/group/WeeklyActivityCard/WeeklyActivityCard.tsx
  apps/member/src/components/group/WeeklyActivitySection/WeeklyActivitySection.tsx
  apps/member/src/components/manage/ManageActivitySection/ActivityInfoModal.tsx
  apps/member/src/components/manage/ManageActivitySection/ManageActivitySection.tsx
  apps/member/src/components/manage/ManageLibrarySection/ManageLibrarySection.tsx
  apps/member/src/components/modal/ActivityBoardEditModal.tsx
  apps/member/src/components/modal/CheckConfirmModal.tsx
  apps/member/src/components/modal/MemberInfoModal.tsx
  apps/member/src/components/modal/index.ts
  apps/member/src/components/my/MyActivityGroupSection/MyActivityGroupSection.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/environment.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/message.ts
  apps/member/src/constants/state.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMember.ts
  apps/member/src/pages/GroupApplyPage/GroupApplyPage.tsx
  apps/member/src/pages/GroupAssignmentPage/GroupAssignmentPage.tsx
  apps/member/src/pages/MyPage/MyPage.tsx
  packages/design-system/src/Table/Table.tsx
Labels: 🐞 Bug, ✨ Feature, 🔨 Refactor, 🏠 Member

#237 feat(design-system): Input 컴포넌트 `required` 설정 시 시각적 표시 추가
  packages/design-system/src/Input/Input.tsx
Labels: ✨ Feature, 🧩 DesignSystem

#242 refactor(member): 활동 3차 QA 피드백 반영
  .changeset/modern-panthers-eat.md
  apps/member/src/components/common/Image/Image.tsx
  apps/member/src/components/group/ActivityAssignmentEditor/ActivityAssignmentEditor.tsx
  apps/member/src/components/group/ActivityDetailSection/ActivityDetailSection.tsx
  apps/member/src/components/group/ActivityNoticeEditor/ActivityNoticeEditor.tsx
  apps/member/src/components/group/ActivityNoticeSection/ActivityNoticeModal.tsx
  apps/member/src/components/group/ActivityParticipantEditor/ActivityParticipantEditor.tsx
  apps/member/src/components/group/ActivityPostEditor/ActivityPostEditor.tsx
  apps/member/src/components/group/AssignmentListSection/AssignmentListSection.tsx
  apps/member/src/components/group/AssignmentUploadSection/AssignmentUploadSection.tsx
  apps/member/src/components/group/GroupCard/GroupCard.tsx
  apps/member/src/components/group/GroupCreateSection/GroupCreateSection.tsx
  apps/member/src/components/group/WeeklyActivityCard/WeeklyActivityCard.tsx
  apps/member/src/components/modal/ActivityBoardEditModal.tsx
  apps/member/src/components/support/SupportHistorySection.tsx
  apps/member/src/constants/api.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/key.ts
  apps/member/src/constants/message.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMember.ts
  apps/member/src/pages/GroupAssignmentPage/GroupAssignmentPage.tsx
  apps/member/src/pages/GroupDetailPage/GroupDetailPage.tsx
  apps/member/src/pages/ManagePage/components/CalendarSection.tsx
  apps/member/src/pages/ManagePage/hooks/useActivityGroupDeleteMutation.ts
  apps/member/src/pages/ManagePage/hooks/useActivityGroupInfoModal.tsx
  apps/member/src/types/activity.ts
  apps/member/src/utils/date.ts
Labels: 🐞 Bug, 🔨 Refactor, 🏠 Member

#244 fix(member): nav 컴포넌트 Suspense 적용
  .changeset/plenty-cheetahs-bake.md
  apps/member/src/pages/PageLayout.tsx
Labels: 🐞 Bug, 🏠 Member

#246 feat: 관리페이지 배너 섹션 수정 및 비밀번호 재전송 기능 구현
  .changeset/silent-cooks-know.md
  apps/member/src/api/member.ts
  apps/member/src/components/common/Modal/Modal.tsx
  apps/member/src/components/common/Select/Select.tsx
  apps/member/src/components/manage/ManageLevelSection/AddMemberForm.tsx
  apps/member/src/components/manage/ManageLevelSection/RoleEditView.tsx
  apps/member/src/constants/api.ts
  apps/member/src/hooks/queries/member/useMemberAddMutation.ts
  apps/member/src/pages/ManagePage/components/BannerSection.tsx
  apps/member/src/pages/ManagePage/hooks/useMemberPasswordResendModal.tsx
  apps/member/src/pages/ManagePage/hooks/useMemberPasswordResendMutation.ts
  apps/member/src/pages/ManagePage/hooks/useMemberPermissionSettingModal.tsx
Labels: 🐞 Bug, ✨ Feature, 🏠 Member

#248 feat(member): 관리페이지 `Aside TOC Panel` 추가
  .changeset/big-falcons-thank.md
  apps/member/src/components/common/Section/Section.tsx
  apps/member/src/components/panels/PanelAside/PanelAside.tsx
  apps/member/src/components/panels/ShortcutPanel/ShortcutPanel.tsx
  apps/member/src/globals.css
Labels: ✨ Feature, 🏠 Member
