Repository kgu-clab/clab-platforms, pull requests merged in 2025-02, with the labels that each got.

#266 feat(member): 생일자 조회 에러 수정, 도서 추가 및 삭제/검색 기능 구현
  apps/member/package.json
  apps/member/src/api/book.ts
  apps/member/src/constants/head.ts
  apps/member/src/constants/key.ts
  apps/member/src/pages/LibraryDetailPage/components/BookDetailSection.tsx
  apps/member/src/pages/LibraryPage/components/BookExplorerSection.tsx
  apps/member/src/pages/LibraryPage/hooks/useBooks.ts
  apps/member/src/pages/MainPage/hooks/useBirthday.ts
  apps/member/src/pages/ManagePage/components/LibrarySection.tsx
  apps/member/src/pages/ManagePage/hooks/useBookDeleteMutation.ts
  apps/member/src/pages/ManagePage/hooks/useBookRegisterMutation.ts
  apps/member/src/types/book.ts
  pnpm-lock.yaml
Labels: ✨ Feature, 🔨 Refactor, 🏠 Member

#263 feat(time): 모의 수강신청 페이지 개발
  .changeset/metal-rockets-hear.md
  apps/time/package.json
  apps/time/src/app/page.tsx
  apps/time/src/app/sugang/page.tsx
  apps/time/src/shared/constants/path.ts
  apps/time/src/widgets/sugang/model/constants/index.ts
  apps/time/src/widgets/sugang/model/constants/sugang.ts
  apps/time/src/widgets/sugang/model/constants/table.ts
  apps/time/src/widgets/sugang/model/data.ts
  apps/time/src/widgets/sugang/model/index.ts
  apps/time/src/widgets/sugang/types/index.ts
  apps/time/src/widgets/sugang/types/table.ts
  apps/time/src/widgets/sugang/ui/SugangLayout.tsx
  apps/time/src/widgets/sugang/ui/SugangTableView.tsx
  apps/time/src/widgets/sugang/ui/index.ts
  apps/time/tsconfig.json
  packages/icon/src/color/index.ts
  packages/icon/src/color/svg/kgu-logo.svg
  packages/icon/src/outline/svg/thumb-up.svg
  pnpm-lock.yaml
Labels: ✨ Feature, ⏰ Time

#270 feat(member): 에러 정책 업데이트
  .changeset/lovely-foxes-whisper.md
  apps/member/src/constants/message.ts
  apps/member/src/hooks/queries/activity/useActivityGroupMemberMutation.ts
  apps/member/src/types/api.ts
Labels: ✨ Feature, 🏠 Member
